.subscription-content {
  width: 55%;

  @media screen and (max-width: 850px) {
    width: 100%;
  }

  h1 {
    font-size: 5rem;
    font-weight: 600;
    font-family: var(--font-primary);
    width: 100%;

    @media screen and (max-width: 650px) {
      font-size: 4.5rem;
    }
    @media screen and (max-width: 450px) {
      font-size: 4rem;
    }

    .actual-price {
      color: "red";
      position: relative;
      display: inline-block;
      margin-right: 1rem;

      &::before {
        content: "";
        border-bottom: 2px solid red;
        display: inline-block;
        background-color: red;
        width: 20rem;
        height: 4px;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 50;
      }
    }

    .price {
      font-family: var(--font-secondary);
      &--highlight {
        color: var(--text-color-6);
        font-weight: 600;
      }
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 5rem;
    gap: 3rem;

    @media screen and (max-width: 850px) {
      margin-left: 2rem;
    }
  }

  .item {
    display: flex;
    align-items: center;
    line-height: normal;
    gap: 5rem;
    @media screen and (max-width: 450px) {
      gap: 2rem;
    }

    img {
      width: 6.8rem;
      height: 6.8rem;

      @media screen and (max-width: 450px) {
        width: 5rem;
        height: 5rem;
      }
    }

    &__content {
      font-size: 3.2rem;
      display: flex;
      gap: 1rem;

      @media screen and (max-width: 450px) {
        font-size: 2.5rem;
      }

      &--highlight {
        color: var(--text-color-6);
        font-weight: 600;
      }
    }

    &__reverse {
      flex-direction: row-reverse;
    }
  }
}
