:root {
  --font-primary: "Raleway", sans-serif; // 500(med), 600(semi),700(bold), 900(black)
  --font-secondary: "Roboto", sans-serif; //400(reg), 500(med), 700(bold)

  --alert-fill-color: linear-gradient(top, to bottom, #de4313, #fec163);
  --alert-border-color: linear-gradient(top, to bottom, #de4313, #fec163);

  --text-color-1: #3c4852;
  --text-color-2: #222;
  --text-color-3: #bebebe;
  --text-color-4: #d9d9d9;
  --text-color-5: #ffffff;
  --text-color-6: #0096ff;
  --text-color-7: #0048ffc4;

  --success-color-1: #47ba68;
  --success-color-2: #d7eddd;

  --danger-color-1: #f77171;
  --danger-color-2: #ff0000;

  --primary-color-1: #47ba68;
  --primary-color-2: linear-gradient(
    to right,
    var(--text-color-6) 70%,
    var(--text-color-7) 90%
  );

  --disable-color: #e7e7e7;
  --alert-text-color: #de4313;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-size: 1.6rem;
  font-family: var(--font-secondary);
  min-height: 100%;
  color: #fff;
}

.app {
  min-width: 100%;
  background: url("./assests/Background.png");
  background-size: cover;
  object-fit: cover;
}
